<a href="https://colab.research.google.com/github/RiosJV/Estudos/blob/main/Tuplas_e_Dicion%C3%A1rios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lista = [1, 2, 3, 4]
lista [2] = 8 
print(lista)

[1, 2, 8, 4]

In [ ]:
tupla = (1, 2, 3, 4)
print(tupla)

(1, 2, 3, 4)

In [ ]:
def calcula_coordenadas(cidade):
  coordx = 1
  coordy = 2

  return coordx, coordy

In [ ]:
print(tupla[1:3])

(2, 3)

In [ ]:
lista.insert(3,0) #insert(indice, valor) (EM LISTAS)

In [ ]:
#Dicionários

#Nao sao ordenados


"""
alunos = [
    ["Nome", idade, curso, cidade],
    ["Nome", idade, curso, cidade],
    ["Nome", idade, curso, cidade]
]
"""
aluno = {
    "Nome": "Joao",
    "Idade": 22,
    "Curso": "Administracao",
    "Cidade": "Rio de Janeiro"
}


alunos = [
    aluno, 
    {
        "Nome": "Joao",
        "Idade": 22,
        "Curso": "Administracao",
        "Cidade": "Rio de Janeiro"
    }
]
print(pessoa["Nome"])

for pessoa in alunos:
  print(pessoa["Nome"])

aluno

Joao
Joao
Joao

{'Nome': 'Joao',
 'Idade': 22,
 'Curso': 'Administracao',
 'Cidade': 'Rio de Janeiro'}

In [ ]:
turma = {
    "1" : {
        "nome": "Joao",
        "idade": 22
    }, 
    "2" : {
        "nome": "fulano",
        "idade": 10
    }
}

#for <variavel> in <dicionario>: -> retorna as chaves
for matricula in turma:
  print(matricula)
  print(turma[matricula])

1
{'nome': 'Joao', 'idade': 22}
2
{'nome': 'fulano', 'idade': 10}

In [ ]:
mat = input ("Informe a matricula do aluno: ")
for matricula in turma:
  if mat == matricula:
    print(turma[mat])
    break
else:# executa apenas se nao passou por um break
  print("Nao foram encontradas matriculas iguais a", mat)

Informe a matricula do aluno: 3
Nao foram encontradas matriculas iguais a 3

In [ ]:
# for <variavel_chave>, variavel_valor in <dicionario.items():

for matricula, aluno in turma.items():
  print(matricula, aluno)

1 {'nome': 'Joao', 'idade': 22}
2 {'nome': 'fulano', 'idade': 10}

In [ ]:
for aluno in turma.values(): #percorre apenas valores em um dicionario
  print(aluno["nome"])

Joao
fulano

In [ ]:
lista = [1 , 2, 3, 4, 5, 6, 7, 8 ,9, 10]
par = []
impar = []


for num in lista:
  if num % 2 == 0:
    par.append(num)
  else:
    impar.append(num)

print(lista, par, impar)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] [2, 4, 6, 8, 10] [1, 3, 5, 7, 9]

In [ ]:
"""Faça um programa que leia as idades e alturas de N alunos do ensino fundamental 
(N é um número fornecido pelo usuário) e determine quantos alunos com mais de 13
 anos possuem altura inferior à média de altura desses alunos."""


def alturas():
  alunos = []
  total_alunos = int(input("Informe o total de alunos: "))
  med_altura = 0
  for _ in range(total_alunos):
    ida = int(input("Informe a idade: "))
    alt = float(input("Informe a altura em cm: "))
    alunos.append({"Idade": ida, "Altura":alt})
    med_altura += alt
  med_altura /= total_alunos
  
  baixinhos = 0
  for aluno in alunos:
    if aluno ["Idade"] > 13 and aluno ["Altura"] < med_altura:
      baixinhos += 1
  print(baixinhos)
  
alturas()

Informe o total de alunos: 2
Informe a idade: 1
Informe a altura em cm: 21
Informe a idade: 2
Informe a altura em cm: 10
0